@layer design.system, demo.support;

@layer design.system {
  :root {
    --surface: hsl(0 0% 100%);
    --foreground: hsl(240 6% 10%);
    --foreground-neutral: hsl(240 3% 29%);
    --outline: hsl(234 46% 45%);
    --brand: 246 100% 56%;
    --glow-alpha: 0.25;
    --glow: radial-gradient(hsl(var(--brand) / var(--glow-alpha)), transparent);

    @media (prefers-color-scheme: dark) {
      --surface: hsl(0 0% 0%);
      --foreground: hsl(223 100% 96%);
      --foreground-neutral: hsl(244 7% 54%);
      --glow-alpha: 0.35;
    }
  }
}

@layer demo.support {
  *:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
    all: unset;
    display: revert;
  }

  :root {
    font: 1rem/1.5 system-ui, sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    color-scheme: light dark;
  }

  body {
    max-block-size: 100vh;
    background: var(--surface);
    color: var(--foreground);
  }

  :where(h1, h2, h3, h4, h5, h6) {
    font-variation-settings: 'opsz' 32;
  }

  a {
    text-decoration: underline;
    cursor: pointer;
    color: inherit;
  }

  button {
    padding: 0.6ch 1.5ch;
    font-size: 0.9375rem;
    font-weight: 500;
    background: var(--foreground);
    color: var(--surface);
    border-radius: 5ch;
    cursor: pointer;

    &:where(:focus-visible) {
      outline: 1px solid var(--outline);
      outline-offset: 0.2em;
    }
  }
}

@layer demo {
  main {
    display: grid;
    place-items: center;
    min-block-size: 100vh;
    overflow-x: hidden;
  }

  .home {
    position: relative;
    display: grid;
    gap: 1.25ch;
    padding-inline: max(1ch, min(5vw, 2ch));
    padding-block: 2ch;
    text-align: center;

    &:before {
      content: '';
      position: absolute;
      inline-size: 25rem;
      block-size: 10rem;
      inset: -50%;
      margin: auto;
      background: var(--glow);
      filter: blur(4rem);
      z-index: -1;
    }

    & > h1 {
      --_gradient-start: var(--foreground);
      --_gradient-end: hsl(240 6% 10% / 0.4);
      font-size: clamp(2ch, 1ch + 10vmin, 5ch);
      font-weight: 600;
      text-align: center;
      letter-spacing: -0.01em;
      background: linear-gradient(
        to right bottom,
        var(--_gradient-start) 30%,
        var(--_gradient-end)
      );

      @media (prefers-color-scheme: dark) {
        --_gradient-end: hsl(0 0% 100% / 0.38);
      }
    }

    & > a {
      margin-block-start: 0.25rem;
      font-size: 0.875rem;
      font-weight: 500;
      letter-spacing: 0.02em;
      text-decoration: none;
      background: linear-gradient(
        90deg,
        var(--foreground-neutral) 0%,
        var(--foreground-neutral) 35%,
        var(--_color, var(--foreground-neutral)) 50%,
        var(--foreground-neutral) 65%,
        var(--foreground-neutral) 100%
      );

      @media (prefers-reduced-motion: no-preference) {
        --_color: var(--foreground);
        animation: slidetounlock 5s infinite linear;
        animation-fill-mode: forwards;

        &:where(:hover, :focus-visible) {
          animation-play-state: paused;
        }
      }
    }

    & > :is(h1, a) {
      background-clip: text;
      -webkit-box-decoration-break: clone;
      -webkit-text-fill-color: transparent;
      color: unset;
    }
  }

  .home-button {
    --_background: hsl(0 0% 100% / 0.7);
    --_background-hover: hsl(0 0% 98% / 0.7);
    --_border-color: hsl(0 0% 0% / 0.1);
    --_stroke-width: 70%;
    --_stroke: hsl(0 0% 0% / 0.08) 10%, hsl(0 0% 0% / 0.1) var(--_stroke-width);
    display: inline-flex;
    position: relative;
    user-select: none;

    @media (prefers-color-scheme: dark) {
      --_background: hsl(0 0% 80% / 0.1);
      --_background-hover: hsl(0 0% 80% / 0.12);
      --_border-color: hsl(0 0% 80% / 0.05);
      --_stroke: hsl(0 0% 80% / 0.05) 10%, hsl(0 0% 80% / 0.2) var(--_stroke-width);
    }

    & > button {
      inline-size: 100%;
      font-variant-numeric: tabular-nums;
      background: var(--_background);
      color: var(--foreground);
      border: 1px solid var(--_border-color);
      backdrop-filter: blur(0.75rem);

      &:where(:hover, :focus-visible) {
        background: var(--_background-hover);
      }
    }

    & > .home-stroke {
      position: absolute;
      inset: 0 10%;
      inline-size: 80%;
      block-size: 1px;
      background: linear-gradient(90deg, transparent, var(--_stroke), transparent);
      z-index: 1;
    }
  }

  @keyframes slidetounlock {
    0% {
      background-position: -7rem 0;
    }
    10% {
      background-position: -7rem 0;
    }
    50% {
      background-position: 7rem 0;
    }
    100% {
      background-position: 7rem 0;
    }
  }
}
